<div class="form-container">
  <div mat-dialog-content class="mat-dialog-content">
    <form class="form" [formGroup]="taskForm" (ngSubmit)="onSubmit()">
      <div class="section">
        <mat-form-field appearance="outline">
          <mat-label>Name Task</mat-label>
          <input
            matInput
            placeholder="Enter a name..."
            id="taskName"
            formControlName="name"
            type="text"
          />
          <mat-hint>Minimum 5 characters</mat-hint>
        </mat-form-field>

        <mat-form-field class="example-form-field" appearance="outline">
          <mat-label>Choose a date</mat-label>
          <input
            matInput
            [matDatepicker]="datepicker"
            id="deadline"
            formControlName="deadline"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="datepicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #datepicker>
            <mat-datepicker-actions>
              <button mat-button matDatepickerCancel>Cancel</button>
              <button mat-raised-button color="primary" matDatepickerApply>
                Apply
              </button>
            </mat-datepicker-actions>
          </mat-datepicker>
        </mat-form-field>
      </div>

      <!-- <div *ngIf="addedPersons.length > 0" class="added-persons">
        <h3 class="related-title">Related Persons</h3>
        <div class="person-list">
          <div
            *ngFor="let person of addedPersons; let i = index"
            class="person-item"
          >
            <div class="person-name">
              {{ person.fullName }} ({{ person.age }} years old)
            </div>
            <div class="person-skills">
              Skills: {{ person.skills.join(", ") }}
            </div>
            <button
              class="remove-button"
              (click)="removePerson(i)"
              aria-label="Remove person"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div> -->

      <div *ngIf="addedPersons.length > 0" class="added-persons">
        <h3 class="related-title m0">Related Persons</h3>
        <div class="person-list">
          <div
            *ngFor="let person of addedPersons; let i = index"
            class="person-item"
          >
            <mat-card class="example-card">
              <mat-card-content class="mat-card-content">
                <div class="person-name">
                  {{ person.fullName }} ({{ person.age }})
                  <div>Skills: {{ person.skills.join(", ") }}</div>
                </div>
                <div>
                  <button
                    mat-icon-button
                    class="remove-button"
                    (click)="removePerson(i)"
                    aria-label="Remove person"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>

      <div class="section slide">
        <mat-slide-toggle (change)="toggleAddPerson()">
          Relate person
        </mat-slide-toggle>
      </div>

      <div *ngIf="showAddPerson" class="person-section">
        <form
          [formGroup]="personForm"
          (ngSubmit)="addPerson()"
          class="person-form"
        >
          <div class="section">
            <mat-form-field appearance="outline">
              <mat-label>Full Name</mat-label>
              <input
                matInput
                formControlName="fullName"
                placeholder="Enter full name"
              />
              <mat-hint>Minimum 5 characters</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Age</mat-label>
              <input
                matInput
                type="number"
                formControlName="age"
                placeholder="Enter age"
              />
              <mat-hint>Must be at least 18</mat-hint>
            </mat-form-field>
          </div>

          <div formArrayName="skills">
            <div
              *ngFor="
                let skill of skills.controls;
                let i = index;
                let last = last
              "
              class="skill-form"
            >
              <mat-form-field appearance="outline">
                <mat-label>Skill</mat-label>
                <input
                  matInput
                  [formControlName]="i"
                  placeholder="Enter skill"
                />
              </mat-form-field>
              <button
                *ngIf="skills.length > 1"
                mat-icon-button
                type="button"
                (click)="removeSkill(i)"
                aria-label="Remove skill"
              >
                <mat-icon>remove_circle</mat-icon>
              </button>
              <button
                *ngIf="last"
                mat-icon-button
                type="button"
                (click)="addSkill()"
                aria-label="Add skill"
              >
                <mat-icon>add_circle</mat-icon>
              </button>
            </div>
          </div>

          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="isAddPersonDisabled()"
          >
            Add Person
          </button>
        </form>
      </div>

      <div mat-dialog-actions class="mat-datepicker-actions">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="
            taskForm.invalid || (showAddPerson && addedPersons.length === 0)
          "
        >
          Save
        </button>
      </div>
    </form>
    <div class="invite">
      <h3>CREATE A NEW TASK</h3>
    </div>
  </div>
</div>

<!-- <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <h2>Crear Nueva Tarea</h2>

    <label for="taskName">Nombre de la tarea:</label>
    <input id="taskName" formControlName="name" type="text" />
    <div *ngIf="taskForm.get('name')?.invalid && taskForm.get('name')?.touched">
      El nombre de la tarea es obligatorio y debe tener al menos 5 caracteres.
    </div>

    <label for="deadline">Fecha límite:</label>
    <input id="deadline" formControlName="deadline" type="date" />
    <div
      *ngIf="
        taskForm.get('deadline')?.invalid && taskForm.get('deadline')?.touched
      "
    >
      La fecha límite es obligatoria.
    </div>

    <h3>Personas Asociadas</h3>
    <div formArrayName="persons">
      <div
        *ngFor="let person of persons.controls; let i = index"
        [formGroupName]="i"
      >
        <label for="fullName">Nombre completo:</label>
        <input id="fullName" formControlName="fullName" type="text" />
        <div
          *ngIf="
            person.get('fullName')?.invalid && person.get('fullName')?.touched
          "
        >
          El nombre completo es obligatorio y debe tener al menos 5 caracteres.
        </div>

        <label for="age">Edad:</label>
        <input id="age" formControlName="age" type="number" />
        <div *ngIf="person.get('age')?.invalid && person.get('age')?.touched">
          La edad debe ser al menos 18.
        </div>

        <h4>Habilidades</h4>
        <div formArrayName="skills">
          <div *ngFor="let skill of getSkills(person).controls; let j = index">
            <input [formControlName]="j" type="text" placeholder="Habilidad" />
            <button type="button" (click)="removeSkill(i, j)">
              Eliminar Habilidad
            </button>
          </div>
        </div>
        <button type="button" (click)="addSkill(i)">Añadir Habilidad</button>

        <button type="button" (click)="removePerson(i)">
          Eliminar Persona
        </button>
      </div>
    </div>

    <button type="button" (click)="addPerson()">Añadir Persona</button>
    <button type="submit" [disabled]="taskForm.invalid">Guardar Tarea</button>
  </form> -->
