<mat-card class="app">
  <mat-card-header class="header">
    <h1 class="task-header-title">{{ currentDate }}</h1>

    <div class="task-tools">
      <div class="task-count">{{ tasks.length }} tasks</div>
      <div class="task-filters">
        <button
          class="task-filter"
          [ngClass]="{ active: filter === 'all' }"
          (click)="setFilter('all')"
        >
          All
        </button>
        <button
          class="task-filter"
          [ngClass]="{ active: filter === 'pending' }"
          (click)="setFilter('pending')"
        >
          Active
        </button>
        <button
          class="task-filter"
          [ngClass]="{ active: filter === 'completed' }"
          (click)="setFilter('completed')"
        >
          Completed
        </button>
      </div>
    </div>
    <div class="task-form">
      <input
        class="task-input"
        placeholder="+ Add a new task..."
        (click)="openTaskCreationModal()"
      />
    </div>
  </mat-card-header>
  <mat-card-content class="mat-card-content">
    <mat-accordion>
      <mat-expansion-panel
        class="mat-expansion-panel"
        *ngFor="let task of filteredTasks"
        [disabled]="!task.persons.length"
      >
        <mat-expansion-panel-header
          class="mat-expansion-panel-header"
          [ngClass]="{ completed: task.completed }"
        >
          <mat-panel-title>
            <mat-checkbox
              [checked]="task.completed"
              (click)="toggleTaskCompletion($event, task.id)"
            ></mat-checkbox>
            {{ task.name }} - {{ task.deadline | date }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngIf="task.persons.length > 0">
          <div class="title-associated">Associated People:</div>

          <mat-list role="list">
            <div *ngFor="let person of task.persons">
              <mat-list-item class="mat-list-item" role="listitem">
                <div class="person-name">
                  {{ person.fullName }} ({{ person.age }})
                </div>

                <div class="person-skills" *ngIf="person.skills.length > 0">
                  Skills: {{ person.skills.join(", ") }}
                </div>
              </mat-list-item>
              <mat-divider *ngIf="task.persons.length > 1"></mat-divider>
            </div>
          </mat-list>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <div class="task-empty" *ngIf="filteredTasks.length === 0">
      Not found a task
    </div>
  </mat-card-content>
</mat-card>
